@CHARSET "UTF-8";

html,body { margin: 0; padding: 0; }
body { font-family: Arial, Helvetica, sans-serif; background: #f7f7f7; font-size: 14px; }

.admin-wrapper { padding: 0; overflow: hidden; padding-bottom: 20px; }

.main { clear: both; }
/*header*/

.header { float:left; width: 100%; background: #01e376 url(img/header-bg.png) repeat-x 0 0; min-height: 30px; border-bottom: 1px solid #01e376; padding-top: 5px; margin: 0; }
.header .logo { margin: 10px; float:left;}
.header .logo a { display: block; float:left; width: 150px; height: 41px; text-indent: 100000px; overflow: hidden; background: url(img/admin-logo.png) no-repeat 0 0; }

/* navigation */

.nav {position:relative; z-index: 15; float: left; width: 15%; background: #ffffff;  border-right: 1px solid #888888; border-bottom: 1px solid #888888; border-radius: 0 0 5px 0;
-moz-border-radius: 0 0 5px 0;
-webkit-border-radius: 0 0 5px 0;
-o-border-radius: 0 0 5px 0;
}
.nav ul.navigation { margin: 0; list-style-type: none; padding: 0; }
.nav ul.navigation li { font-weight: bold; padding-left: 0px; line-height: 40px;  display: block; position:relative; }
.nav ul li a {  border-bottom: 1px solid #ffffff; line-height: 40px; display: block; padding-left: 25px; color:#888888; text-decoration: none;}
.nav ul li a:hover,
	.nav ul li:hover a { color: #ffffff; background: #01e376; }

.nav ul li.active a { background: transparent; color:#01e376; }

.nav ul.navigation ul,
	.nav ul li.active ul li ul { box-shadow: 0px 1px 5px rgba(0,0,0,0.3); position: absolute; left: 10000px; padding-left: 0px; list-style: none; background: white; border: 1px solid #888888;
}

.nav ul ul li,
.nav ul.navigation ul li { padding: 0; font-weight: normal; }
.nav ul ul li a { background: transparent; font-size: 12px;  }


.nav ul li:hover ul,
	.nav ul li.active ul li:hover ul { left: 100%; width: 100%; z-index:10; top: 0px; }
.nav ul li:hover ul li a { background: transparent; color:#888888; }
.nav ul li ul li a:hover  { color: #ffffff; background: #01e376; }

.nav ul li.active ul,
.nav ul li.active ul li.active ul  { background: transparent; position: relative; left: 0; border:0; box-shadow: 0 0 0; }
.nav ul li.active ul li a,
	.nav ul li.active ul li.active ul li a { padding-left: 35px; color:#888888; line-height: 25px; font-size: 12px; }
.nav ul li.active ul li a:hover { color:#ffffff; background: #01e376; }
.nav ul li.active ul li.active ul li a { padding-left: 45px; font-size:11px; }

.nav ul li:hover ul ul { left: 10000px; }
.nav ul ul li:hover ul { left: 100%; }

/* purple: #fe0160 */

.nav ul li.active ul li.active a,
	.nav ul li.active ul li.active a:hover { color:#fe0160; background: transparent; }
.nav ul li.active ul li.active ul a:hover { color:#ffffff; background: #fe0160; }


.nav ul li ul li:hover a,
	.nav ul li ul li a:hover  { color: #ffffff; background: #01e376; }
.nav ul li ul li:hover ul li a { background: transparent; color:#888888; }
.nav ul li ul li:hover ul li a:hover { color: #ffffff; background: #01e376; }

/* content */
.content { float:left; width: 69%; min-height: 10px; background: #f7f7f7; color:#888888;}
.content form { }
.content form div { margin: 5px 0; float:left; clear: both; position: relative; }
.content form .fields { margin-top:75px; }
.content form label { float:left; width: 150px; }
.content form input, .content form textarea { float: left; }
.content form .submit-new { left:0; margin-top: 0px; position: fixed; width: 100%; background: rgba(255, 255, 255, 0.6); z-index: 10;}
.content form .submit-new button { margin-top: 20px; float:left; margin-right: 10px; position: relative; z-index: 300; }
.content form .submit-new h1 { float:left; margin-left: 10px; width: 60%; position:relative; left:16%; }

/* dashboard */
.dashboard, 
	.store { padding: 0 20px; }
.dashboard .quick-action, 
	.store .quick-action { text-align: center; vertical-align: top; }
.dashboard h2,
	.store h2 { color:#01e376; text-align: left; }
	
	
.dashboard .quick-action a,
	.store .quick-action a { background: #ffffff; display: inline-block; border: 1px solid #888888; padding: 10px; text-align: center; width: 130px; text-decoration : none; color:#888888; margin-right: 35px; font-weight: normal; border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
-o-border-radius: 5px 5px 5px 5px;
}

.dashboard .quick-action a:hover,
	.store .quick-action a:hover { box-shadow:inset 0px 0px 5px #888888; }

.dashboard .quick-action a:last-child { margin-right: 0; }
.dashboard .quick-action a span.icon,
	.store .quick-action a span.icon { margin: 0px auto; display: block; background: url(img/sbm-nav-mtx.png) no-repeat 0 0 ; height: 60px; width: 70px; }

.dashboard .quick-action .articles span.icon { background-position: 10px 10px; }
.dashboard .quick-action .articles:hover span.icon { background-position: -90px 10px; }

.dashboard .quick-action .pages span.icon { background-position: 15px -110px; }
.dashboard .quick-action .pages:hover span.icon { background-position: -85px -110px; }

.dashboard .quick-action .store span.icon { background-position: 10px -236px; }
.dashboard .quick-action .store:hover span.icon { background-position: -90px -236px; }
.dashboard .quick-action .settings span.icon { background-position: 0px -352px; }
.dashboard .quick-action .settings:hover span.icon { background-position: -100px -352px; }


/*store icons*/
.store .quick-action .new-prod span.icon { background-position: 10px -577px; }
.store .quick-action .new-prod:hover span.icon { background-position: -90px -577px; }

.store .quick-action .feat-prod span.icon { background-position: 15px -837px; }
.store .quick-action .feat-prod:hover span.icon { background-position: -84px -837px; }

.store .quick-action .new-cat span.icon { background-position: 10px -458px; }
.store .quick-action .new-cat:hover span.icon { background-position: -90px -458px; }

.store .quick-action .cats span.icon { background-position: 10px -714px; }
.store .quick-action .cats:hover span.icon { background-position: -90px -714px; }

.store .quick-action a h3 { margin:5px 0px 0; }


/* articles */
.articles { padding: 0px 20px; }
.articles table { border-collapse: collapse; border: 1px solid #888888; background: #ffffff; width: 100%; border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
-o-border-radius: 5px 5px 5px 5px;
}
.articles table td { padding: 5px 10px; border: 1px solid #888888; border-right: 0; border-left: 0; }
.articles table th { padding: 10px; color:#ffffff; background: #888888; text-align: left; }

.articles .paginationControl { margin: 5px 0; }


/* right sidebar */
.sidebar { position:relative; z-index:15; float:right; width: 15%; color:#888888; background: #ffffff; border-left: 1px solid #888888; border-bottom: 1px solid #888888; border-radius: 0 0 0 5px;
-moz-border-radius: 0 0 0 5px;
-webkit-border-radius: 0 0 0 5px;
-o-border-radius: 0 0 0 5px;
}
.sidebar .block { padding-left: 10px; }
.sidebar .block h3 { font-size: 14px; }