@CHARSET "UTF-8";

html,body { margin: 0; padding: 0; }
body { font-family: Arial, Helvetica, sans-serif; background: #ececec; font-size: 14px; position: relative; }

.admin-wrapper { padding: 0; overflow: hidden; padding-bottom: 20px; min-height: 500px; position:relative; }

.main { clear: both; margin-top: 67px; }
/*header*/

.header { box-shadow: 0 1px 5px rgba(0,0,0,0.5); z-index: 300; position: fixed; float:left; width: 100%; background: #02fb83 url(img/header-bg.png) repeat-x 0 bottom; min-height: 30px; border-bottom: 1px solid #01e376; padding-top: 5px; margin: 0; }
.header .logo { margin: 10px; float:left;}
.header .logo a { display: block; float:left; width: 150px; height: 41px; text-indent: 100000px; overflow: hidden; background: url(img/admin-logo.png) no-repeat 0 0; }

/* navigation */

.nav {position:relative; z-index: 15; float: left; width: 15%; background: #f7f7f7;  border-right: 1px solid #888888; border-bottom: 1px solid #888888; border-radius: 0 0 5px 0;
-moz-border-radius: 0 0 5px 0;
-webkit-border-radius: 0 0 5px 0;
-o-border-radius: 0 0 5px 0;
}
.nav ul.navigation { margin: 0; list-style-type: none; padding: 0; }
.nav ul li { position:relative; left: 0; line-height: 35px; background: url(img/nav-bg-mtx.png) repeat-x 0 -36px; }
.nav ul li:hover { background-position: 0 top; }
.nav ul ul { list-style-type: none; padding: 0; box-shadow: 1px 1px 5px rgba(0,0,0,0.3); position: absolute; width: 100%; left: 100000px; background: #f5f5f5; border: 1px solid #888888; }
.nav ul li a { border-top: 1px solid #dddddd; font-weight:bold; padding-left: 20px; text-decoration: none; color:#444444; display:block; }
.nav ul li:last-child a {  }
.nav ul li a.store { padding-left: 20px; }

/*.nav ul ul ul li:hover { background-color: #fe0160;}*/

/*hover*/

.nav ul li:hover ul { left:100%; top:0; }
.nav ul li:hover ul li ul { left: -100000px; }
.nav ul li ul li:hover ul { left: 100%; }
.nav ul ul li a { font-size: 13px; }

.nav ul ul li { background: transparent; }
.nav ul ul li a:hover { color:#01e376; }
.nav ul ul ul li a { font-size: 11px; }


/*active*/

.nav ul li.active{ background-color: #01e376; }
.nav ul li.active ul { position: relative; left: 0; box-shadow: 0 0 0; border: 0; }
.nav ul li.active ul ul { box-shadow: 1px 1px 5px rgba(0,0,0,0.3); position: absolute; width: 100%; left: 100000px; background: #ffffff; border: 1px solid #888888; }
.nav ul li.active ul li { background: transparent; }
.nav ul li.active ul li a:hover { color:#01e376; }
.nav ul li.active ul li.active { background:#01e376; }
.nav ul li.active ul li.active a:hover { color:#ffffff; }
.nav ul li.active a { padding-left: 20px; color:#ffffff; border-color:#01ce6b; }
.nav ul li.active ul a { color: #444444; padding-left: 35px; border-color:#dddddd; }
.nav ul ul li.active a { color:#ffffff; }
.nav ul ul li.active ul li a { color:#444444; }

.nav ul ul li.active ul,
	.nav ul ul li.active:hover ul,
	.nav ul li.active:hover ul li.active ul { position:relative; left: 0; border:0; box-shadow: 0 0 0; }
.nav ul ul li.active ul a,
	.nav ul ul li.active:hover ul a,
	.nav ul li.active:hover ul li.active ul a { color:#444444; padding-left: 45px; font-size: 11px; border-color:#dddddd;}

.nav ul li.active ul li.active ul a:hover { color:#01e376; }


/*---- link backgrounds ----*/

.nav ul li a { background-image: url(img/nav-mtx.png); background-repeat: no-repeat; }
.nav ul li a.dash { background-position: 90% 13px; }
.nav ul li.active a.dash{ background-position: 90% -47px; }

.nav ul li a.article { background-position: 90% -77px; }
.nav ul li.active a.article{ background-position: 90% -137px; }

.nav ul li a.page { background-position: 90% -169px; }
.nav ul li.active a.page { background-position: 90% -229px; }

.nav ul li a.settings { background-position: 90% -257px; }
.nav ul li.active a.settings { background-position: 90% -317px; }

.nav ul li a.store { background-position: 90% -348px; }
.nav ul li.active a.store { background-position: 90% -408px; }

.nav ul li a.cat { background-position: 90% -439px; }
 .nav ul li.active ul li a.cat { background-position: 90% -439px; }

.nav ul li a.cat:hover { background-position: 90% -469px; }
 .nav ul li.active ul li a.cat:hover { background-position: 90% -469px; }
.nav ul li.active ul li.active a.cat,
	.nav ul li.active ul li.active a.cat:hover { background-position: 90% -498px; }

.nav ul li a.prod{ background-position: 90% -528px; }
 .nav ul li.active ul li a.prod { background-position: 90% -528px; }

 .nav ul li.active ul li a.prod:hover { background-position: 90% -558px; }
.nav ul li a.prod:hover { background-position: 90% -558px; }
.nav ul li.active ul li.active a.prod,
	.nav ul li.active ul li.active a.prod:hover  { background-position: 90% -588px; }
	
	
.nav ul li a.new{ background-position: 90% -798px; }
 .nav ul li.active ul li a.new{ background-position: 90% -798px; }

 .nav ul li.active ul li a.new:hover { background-position: 90% -828px; }
.nav ul li a.new:hover { background-position: 90% -828px; }
.nav ul li.active ul li.active ul li.active a.new,
	.nav ul li.active ul li.active ul li.active a.new:hover  { background-position: 90% -858px; }	


.nav ul li a.list{ background-position: 90% -706px; }
.nav ul li.active ul li a.list{ background-position: 90% -706px; }

.nav ul li.active ul li a.list:hover { background-position: 90% -736px; }
.nav ul li a.list:hover { background-position: 90% -736px; }
.nav ul li.active ul li.active ul li.active a.list,
	.nav ul li.active ul li.active ul li.active a.list:hover  { background-position: 90% -766px; }	


.nav ul li a.feat{ background-position: 90% -618px; }
.nav ul li.active ul li a.feat{ background-position: 90% -618px; }

.nav ul li.active ul li a.feat:hover { background-position: 90% -648px; }
.nav ul li a.feat:hover { background-position: 90% -648px; }
.nav ul li.active ul li.active ul li.active a.feat,
	.nav ul li.active ul li.active ul li.active a.feat:hover  { background-position: 90% -678px; }	


.nav ul li a.gen{ background-position: 90% -888px; }
.nav ul li.active ul li a.gen{ background-position: 90% -888px; }

.nav ul li.active ul li a.gen:hover { background-position: 90% -918px; }
.nav ul li a.gen:hover { background-position: 90% -918px; }

.nav ul li ul li.active a.gen, 
.nav ul li ul li.active a.gen:hover{ background-position: 90% -948px; }

.nav ul li a.mod{ background-position: 90% -978px; }
.nav ul li.active ul li a.mod{ background-position: 90% -978px; }

.nav ul li.active ul li a.mod:hover { background-position: 90% -1008px; }
.nav ul li a.mod:hover { background-position: 90% -1008px; }

.nav ul li ul li.active a.mod, 
.nav ul li ul li.active a.mod:hover{ background-position: 90% -1038px; }


.nav ul li a.cont{ background-position: 90% -1068px; }
.nav ul li.active ul li a.cont{ background-position: 90% -1068px; }

.nav ul li.active ul li a.cont:hover { background-position: 90% -1098px; }
.nav ul li a.cont:hover { background-position: 90% -1098px; }

.nav ul li ul li.active a.cont, 
.nav ul li ul li.active a.cont:hover{ background-position: 90% -1128px; }

.nav ul li a.user{ background-position: 90% -1158px; }
.nav ul li.active ul li a.user{ background-position: 90% -1158px; }

.nav ul li.active ul li a.user:hover { background-position: 90% -1188px; }
.nav ul li a.user:hover { background-position: 90% -1188px; }

.nav ul li ul li.active a.user, 
.nav ul li ul li.active a.user:hover{ background-position: 90% -1218px; }



/* content */
.content { float:left; width: 69%; min-height: 10px; color:#444444;}
.content form { }
.content form div { margin: 5px 0; float:left; clear: both; position: relative; }
.content form .fields { margin-top:75px; }
.content form label { float:left; width: 150px; }
.content form input, .content form textarea { float: left; }
.content form .submit-new { left:0; margin-top: 0px; position: fixed; width: 100%; background: rgba(255, 255, 255, 0.6); z-index: 10;}
.content form .submit-new button { cursor:pointer; border:1px solid #888888; background:#01e376 url(img/nav-bg-mtx.png) repeat-x 0 0;padding: 3px 10px; font-weight: bold; color:#ffffff; margin-top: 23px; float:left; margin-right: 10px; position: relative; z-index: 300; border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
-o-border-radius: 5px 5px 5px 5px;
}
.content form .submit-new h1 { float:left; margin-left: 10px; width: 60%; position:relative; left:16%; }
.content form fieldset { padding: 0; border: 0; }
.content form fieldset input { margin-right: 5px; }

/* dashboard */
.dashboard, 
	.store { padding: 0 20px; }
.dashboard .quick-action, 
	.store .quick-action { text-align: center; vertical-align: top; }
.dashboard h2,
	.store h2 { color:#01e376; text-align: left; }
	
	
.dashboard .quick-action a,
	.store .quick-action a { background: #ffffff; display: inline-block; border: 1px solid #888888; padding: 10px; text-align: center; width: 130px; text-decoration : none; color:#444444; margin-right: 35px; font-weight: normal; border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
-o-border-radius: 5px 5px 5px 5px;
}

.dashboard .quick-action a:hover,
	.store .quick-action a:hover { box-shadow:inset 0px 0px 5px #444444; }

.dashboard .quick-action a:last-child { margin-right: 0; }
.dashboard .quick-action a span.icon,
	.store .quick-action a span.icon { margin: 0px auto; display: block; background: url(img/sbm-nav-mtx.png) no-repeat 0 0 ; height: 60px; width: 70px; }

.dashboard .quick-action .articles span.icon { background-position: 10px 10px; }
.dashboard .quick-action .articles:hover span.icon { background-position: -90px 10px; }

.dashboard .quick-action .pages span.icon { background-position: 15px -110px; }
.dashboard .quick-action .pages:hover span.icon { background-position: -85px -110px; }

.dashboard .quick-action .store span.icon { background-position: 10px -236px; }
.dashboard .quick-action .store:hover span.icon { background-position: -90px -236px; }
.dashboard .quick-action .settings span.icon { background-position: 0px -352px; }
.dashboard .quick-action .settings:hover span.icon { background-position: -100px -352px; }


/*store icons*/
.store .quick-action .new-prod span.icon { background-position: 10px -577px; }
.store .quick-action .new-prod:hover span.icon { background-position: -90px -577px; }

.store .quick-action .feat-prod span.icon { background-position: 15px -837px; }
.store .quick-action .feat-prod:hover span.icon { background-position: -84px -837px; }

.store .quick-action .new-cat span.icon { background-position: 10px -458px; }
.store .quick-action .new-cat:hover span.icon { background-position: -90px -458px; }

.store .quick-action .cats span.icon { background-position: 10px -714px; }
.store .quick-action .cats:hover span.icon { background-position: -90px -714px; }

.store .quick-action a h3 { margin:5px 0px 0; }

/*settings*/

.dashboard .quick-action .general span.icon { background-position: 10px -1170px; }
.dashboard .quick-action .general:hover span.icon { background-position: -90px -1170px; }

.dashboard .quick-action .mods span.icon { background-position: 10px -1053px; }
.dashboard .quick-action .mods:hover span.icon { background-position: -91px -1053px; }

.dashboard .quick-action .cntct span.icon { background-position: 15px -940px; }
.dashboard .quick-action .cntct:hover span.icon { background-position: -86px -940px; }

.dashboard .quick-action .users span.icon { background-position: 5px -1287px; }
.dashboard .quick-action .users:hover span.icon { background-position: -95px -1287px; }

/* articles */
.articles { padding: 0px 20px; }
.articles table { border-collapse: collapse; border: 1px solid #888888; background: #ffffff; width: 100%; border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
-o-border-radius: 5px 5px 5px 5px;
}
.articles table td { padding: 5px 10px; border: 1px solid #888888; border-right: 0; border-left: 0; }
.articles table th { padding: 10px; color:#ffffff; background: #444444; text-align: left; }

.articles .paginationControl { margin: 5px 0; }


/* right sidebar */
.sidebar { position:relative; z-index:15; float:right; width: 15%; color:#444444; background: #ffffff; border-left: 1px solid #888888; border-bottom: 1px solid #888888; border-radius: 0 0 0 5px;
-moz-border-radius: 0 0 0 5px;
-webkit-border-radius: 0 0 0 5px;
-o-border-radius: 0 0 0 5px;
}
.sidebar .block { padding-left: 10px; }
.sidebar .block h3 { font-size: 14px; }

/* footer */
.footer { text-shadow: 1px 1px 1px #ffffff; clear: both; float:left; position:absolute; top:auto; bottom: 10px; width: 100%; color: #888888; text-align: center; }

